# Xcode ve Swift
DerivedData/
.idea/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
!*.xcodeproj/xcshareddata/*
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata
!*.xcworkspace/xcshareddata/*
*.xcuserstate

# Swift Paket Yöneticisi
.build/
Package.resolved
Packages/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# App Veri
*.ipa
*.dSYM.zip
*.dSYM

# SwiftUI Canvas Durumu
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata

# Kişisel ve Ortak Kullanıcı Ayarları
*.xcuserdatad
*.swp
*.mode1v3
*.mode2v3
*.perspectivev3

# Git Metadata
.DS_Store
.git/
